<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta charset="utf-8">
            <meta name="keywords" content="Auto Repair Services Mechanic Car Vehicle">
            <meta name="description" content="We are a Complete Auto Repair and Service Shop in Nashville, TN. We will inspect your vehicle and provide all the necessary car repairs needed to get you back on the road as quickly as possible.">
            <title>Automotive Solutions</title>
    </head>
    <body>
        <nav class="u-align-center u-dropdown-icon u-menu u-menu-dropdown u-offcanvas u-offcanvas-shift u-menu-1">
            <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
              <a class="u-button-style u-custom-active-color u-custom-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-decoration u-custom-text-hover-color u-custom-text-shadow u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-white" href="#" style="">
                <svg class="u-svg-link" viewBox="0 0 24 24"><use xlink:href="#menu-hamburger"></use></svg>
                <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
  </g></svg>
              </a>
            </div>
            <div class="u-custom-menu u-nav-container">
              <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-black u-button-style u-hover-palette-1-base u-nav-link u-text-active-white u-text-hover-white" style="padding: 10px;">More options</a><div class="u-nav-popup"><ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link u-white">Towing Service</a>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link u-white">Oil Change Options</a>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link u-white">Business Rates</a>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link u-white">Payment Options</a>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link u-white">Student Special</a>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link u-white">Image Gallery</a>
  </li></ul>
  </div>
  </li><li class="u-nav-item"><a class="u-black u-button-style u-hover-palette-1-base u-nav-link u-text-active-white u-text-hover-white" href="{% url 'about-us' %}" style="padding: 10px;">About Us</a>
  </li><li class="u-nav-item"><a class="u-black u-button-style u-hover-palette-1-base u-nav-link u-text-active-white u-text-hover-white" href="{% url 'contact-us' %}" style="padding: 10px;">Contact Us</a>
  </li><li class="u-nav-item"><a class="u-black u-button-style u-hover-palette-1-base u-nav-link u-text-active-white u-text-hover-white" href="{% url 'schedule-appointment' %}" style="padding: 10px;">Schedule Appointment</a>
  </li><li class="u-nav-item"><a class="u-black u-button-style u-hover-palette-1-base u-nav-link u-text-active-white u-text-hover-white" href="{% url 'home' %}" style="padding: 10px;">Home</a>
  </li></ul>
            </div>
            <div class="u-custom-menu u-nav-container-collapse">
              <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-0 u-sidenav u-sidenav-1" data-offcanvas-width="400.6616">
                <div class="u-inner-container-layout u-sidenav-overflow">
                  <div class="u-menu-close"></div>
                  <ul class="u-align-center u-expanded-width-xs u-nav u-popupmenu-items u-spacing-0 u-text-active-black u-text-black u-text-hover-black u-unstyled u-nav-3"><li class="u-nav-item"><a class="u-button-style u-nav-link">More options</a><div class="u-nav-popup"><ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-4"><li class="u-nav-item"><a class="u-button-style u-nav-link">Towing Service</a>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link">Oil Change Options</a>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link">Business Rates</a>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link">Payment Options</a>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link">Student Special</a>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link">Image Gallery</a>
  </li></ul>
  </div>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'about-us' %}">About Us</a>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'contact-us' %}">Contact Us</a>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'schedule-appointment' %}">Schedule Appointment</a>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'home' %}">Home</a>
  </li></ul>
                </div>
              </div>
              <div class="u-menu-overlay"></div>
            </div>
          </nav>
          <a href="#" class="u-image u-logo u-image-1">
            <img src="/ccapp.nicepage.com/b1aafe7bcbc31301c05ec52330da8f331d18e720/images/default-logo.png" class="u-logo-image u-logo-image-1">
          </a>
          <a href="tel:(615) 782-6700" class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-1"> (615) 782-6700</a>
        </div></header>
    </body>
</html>
{% block content %}
{% endblock %}